<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Term Scheduler"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".UI.AssessmentDetails"
            android:label="Assessment Details"
            android:parentActivityName=".UI.AssessmentList"
            android:exported="false" />
        <activity
            android:name=".UI.CourseDetails"
            android:exported="false"
            android:label="Course Details"
            android:parentActivityName=".UI.TermDetails"/>
        <activity
            android:name=".UI.TermDetails"
            android:exported="false"
            android:label="Term Details"
            android:parentActivityName=".UI.TermList" />
        <activity
            android:name=".UI.AssessmentList"
            android:exported="false"
            android:label="Assessments"
            android:parentActivityName=".UI.MainActivity" />
        <activity
            android:name=".UI.CourseList"
            android:exported="false"
            android:label="Courses"
            android:parentActivityName=".UI.MainActivity" />
        <activity
            android:name=".UI.TermList"
            android:exported="false"
            android:label="Terms"
            android:parentActivityName=".UI.MainActivity" />
        <activity
            android:name=".UI.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>