<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="31" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Term Scheduler"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <receiver
            android:name="com.example.myapplication.UI.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.example.myapplication.UI.AssessmentDetails"
            android:exported="false"
            android:label="Assessment Details"
            android:parentActivityName="com.example.myapplication.UI.AssessmentList" />
        <activity
            android:name="com.example.myapplication.UI.CourseDetails"
            android:exported="false"
            android:label="Course Details"
            android:parentActivityName="com.example.myapplication.UI.TermDetails" />
        <activity
            android:name="com.example.myapplication.UI.TermDetails"
            android:exported="false"
            android:label="Term Details"
            android:parentActivityName="com.example.myapplication.UI.TermList" />
        <activity
            android:name="com.example.myapplication.UI.AssessmentList"
            android:exported="false"
            android:label="Assessments"
            android:parentActivityName="com.example.myapplication.UI.MainActivity" />
        <activity android:name="com.example.myapplication.UI.NotesDetails"
            android:exported="false"
            android:label="Notes Details"
            android:parentActivityName=".UI.CourseDetails"/>

        <activity
            android:name="com.example.myapplication.UI.TermList"
            android:exported="false"
            android:label="Terms"
            android:parentActivityName="com.example.myapplication.UI.MainActivity" />
        <activity
            android:name="com.example.myapplication.UI.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>